.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 455px;
}

.logo {
  font-family: "Georgia", serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.share-icon {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

.share-icon:hover {
  color: #007bff;
}
